body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    border: solid 10px black;

}

#display-container {
    background-color: rgb(168, 206, 31);
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    height: 100px;   
    padding: 10px;
}
#display {
    margin-left: auto;
    margin-bottom: 10px;
    font-size: 50px;
    
}

.numbers {
    width: 60px;
    height: 90px;
    font-size: 20px;


}